.fl{
	float: left;
	display: inline-block;
}
.title{
	font-size:0.34rem;
	height: 0.88rem;
	width: 7.5rem;
	text-align: center;
	line-height: 0.88rem;
	color: #333; 
	margin-bottom: 0.2rem;
	background: #fff;
}
.account.sp{
	padding-top: 0px;
}
.account{
	padding-top: 0.2rem;
}
.account .box{
	margin-bottom: 0.2rem;
	background: #fff;
}
.account .box ul{
	padding-left: 0.3rem;
    width: 7.2rem;
    float: none;
}
.account .box li{
	width: 7.2rem;
    float: none;
    border-bottom: 1px solid #e1e1e1;
    height: 1.03rem;
    background: url(../img/pic_01.png) no-repeat right 0.31rem center;
    background-size: 0.15rem 0.24rem;
}
.account li span.tit{
	font-size: 0.3rem;
	line-height: 1.03rem;
	display: inline-block;
}
.account li .file{
	width: 0.8rem;
	height: 0.8rem;
	position: relative;
	overflow: hidden;
	border-radius: 0.8rem;
	background: url(../img/pic-04.png) no-repeat;
	background-size: 100%;
	display: inline-block;
	float: right;
	margin-right: 0.6rem;
	margin-top: 0.15rem;
}
.account li .file img{
	width: 100%;
	height: 100%;
}
.account li .file input{
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	opacity: 0;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
}
.account li .name{
	border:0px none;
	height: 1.03rem;
	line-height: 1.03rem;
	float: right;
	font-size: 0.3rem;
	width: 1.2rem;
	text-align: right;
	color: #aaa;
	margin-right: 0.6rem;
}
.account li .name.sp{
	color: #e42222;
}
.account li .teleimg{
	width: 0.38rem;
	height: 0.38rem;
	background: url(../img/pic-05.png) no-repeat;
	background-size: 100%;
	float: right;
	display: inline-block;
	margin-right: 0.6rem;
	margin-top: 0.37rem;
}
.account li .display{
	display: block;
	font-size: 0.3rem;
	line-height: 1.03rem;
}
.account li.cur{
	border-bottom: 0px none;
}
.account li.sp{
	background: none;
}
.account li .out{
	color: #e42222;
}