<!doctype html>
<html lang="cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <title>刮刮乐</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="public/public.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="public/swiper.css">
    <link rel="stylesheet" href="css/news.css">
    <script src="public/dists.js"></script>
    <script src="public/public.js"></script>
    <script src="public/c_main.js"></script>
    <script src="public/swiper.min.js"></script>
    <script src="public/adaptive-version2.js"></script>
    <script>
        // 设计图宽度
        window['adaptive'].desinWidth = 750;
        // body 字体大小 会将body字体大小设置为 baseFont / 100 + 'rem'
        window['adaptive'].baseFont = 12;
        // 初始化
        window['adaptive'].init();
    </script>
</head>
<body style="background:#f0f2f5;">
    <div id="main" v-cloak class="news">
        <div class="title">消息箱<span @click="allRead()">全部已读</span></div>
        <ul>
            <li v-bind:data-id="li.standBy" v-for="li in list">
                <a :href="'news_info.html?type='+li.type+'&oid='+li.oid">
                    <div class="img">
                        <img class="img" v-if="li.type == 1" src="img/pic-07.png" alt="">
                        <template v-else>
                             <img class="img" v-if="li.type == 2" src="img/pic-10.png" alt="">
                             <img class="img" v-if="li.type == 3" src="img/pic-11.png" alt="">
                        </template>
                        <div v-show="li.stat == 1" class="sp cur"></div>
                        <div v-show="li.stat == 0" class="sp"></div>
                    </div>
                    <div class="text">
                        <div class="top f-cb">
                            <span class="cn" v-if="li.type == 1">系统消息</span>
                            <template v-else> 
                                <span class="cn" v-if="li.type == 2">中奖消息</span>
                                <span v-bind:data-id="li.standBy" class="cn" v-if="li.type == 3">订单消息</span>
                            </template>
                            <span class="time">{{li.createTimeStr}}</span>
                        </div>
                        <div class="te">{{li.content}}</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="load-move" v-if="!loadType&&pageNo==1">当前暂无数据</div>
        <div class="load-move" v-else>{{loadType?'正在加载...':'没有更多了'}}</div>
        <a class="return-home" href="index.html"></a>
    </div>
    <div id="main2" v-vloak class="news">
        <ul>
            <li class="news-li" v-bind:data-id="li.srandBy" v-for="li in list">
            </li>
        </ul>
    </div>
<script src="public/main.js"></script>
<script src="js/news.js"></script>
</body>
</html>
